
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
@{
    ViewBag.Msg = "Welcome to Application";
 }

@section SideBar
{
    <a href="#" class="list-group-item" style="background-color:transparent;">Admin Home</a>
    <a href="#" class="list-group-item" style="background-color:transparent;">Agent Home</a>
    <a href="#" class="list-group-item" style="background-color:transparent;">Customer Home</a>
}